<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("English", "Index", "Language", new { language = "en" }, null)</li>
    <li>@Html.ActionLink("Lithuanian", "Index", "Language", new { language = "lt" }, null)</li>
</ul>

