<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Key0" value="0" />
    <add key="Key1" value="1" />
    <add key="Key2" value="2" />
    <add key="PerPath" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Andzej\DataBaseTest.mdf;Integrated Security=True;Connect Timeout=30"/>
    <add key="PerPath2" value="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\Users\\Andzej\\DataBaseTest.mdf;Integrated Security=True;Connect Timeout=30"/>
  </appSettings>
</configuration>